  <div class="container">
    <div class="input-container">
      <input [(ngModel)]="password" 
      (input)="checkPasswordStrengh()"  
      name="value" 
      type="text" 
      class="password">
    </div>

    <ul>
      <li [ngStyle]="{ 'background-color' : requiredColor[0]}">Password is easy</li>
      <li [ngStyle]="{ 'background-color' : requiredColor[1]}">Password is medium</li>
      <li [ngStyle]="{ 'background-color' : requiredColor[2]}">Password is storng</li>
    </ul>
  </div>

